<!DOCTYPE html>
<html lang="en">
<head>
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="../css/ts_demo.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <div class="outer">
        <h4 class="chartTitle">Normal</h4>
        <div id="chartContainer" class="inner"></div>

        <h4 class="chartTitle">Visvalingham-Whyatt</h4>
        <div id="chartContainerVW" class="inner"></div>
          
        <!--<h4 class="chartTitle">Modified Ramer-Douglas-Peucker</h4>-->
        <!--<div id="chartContainerRDP" class="inner"></div>-->
    </div>

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- canvasjs -->
    <script type="text/javascript" src="../js/libraries/canvasjs-1.9.6/canvasjs.min.js"></script>
     <!--bootstrap.js cdn--> 
    <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <script src="../ts/ts_js/bundle.js"></script>
</body>
</html>
