.inner {
	height: 210px;
	width: 500px;
	margin: 0 auto;
}

.chartTitle {
	text-align: center;
}

#kdtreeContainer {
	width: 500px;
	height: 200px;
}

#kdtreeContainer>p {
	text-align: center;
	margin: 0;

}

#kdtreeContainer>div {
	width: 40%;
}

#kdtreeContainer>#leftButtonDiv {
	float: left;
}

#kdtreeContainer>#rightButtonDiv {
	float: right;
}

#kdtreeContainer button {
	display: block;
	margin: 0 auto;
}
